<div class="author-details-container">
  <div class="author-details-header col-xs-12">
    <h3> {{ author.name | uppercase }} details </h3>
  </div>

  <div class="author-details-body">
    <div class="col-xs-12 col-sm-6 form-group">
      <label>
        Name
      </label>
      <input type="text" class="form-control" [(ngModel)]="author.name">
    </div>
    <div class="col-xs-12 col-sm-6 form-group">
      <label>
        Country
      </label>
      <input type="text" class="form-control" [(ngModel)]="author.country">
    </div>

    <div class="col-xs-12 col-sm-6 author-detail-btn-group">
      <div [style.display]="block">
        <button class="btn author-detail-save-btn" (click)="saveChanges()"> 
          Save 
        </button>
        <button class="btn author-detail-cancel-btn" (click)="cancelChanges()"> 
          Cancel 
        </button>
        <button class="btn author-detail-delete-btn" (click)="deleteRecord()"> 
          Delete 
        </button>
      </div>
    </div>
  </div>
</div>