<div class="login-container">
  <div class="user-logged-out row" *ngIf="!isUserLoggedIn">
    <div class="form-group col-xs-12 col-sm-3">
      <h3> Please log in </h3>
      <button class="btn btn-default" (click)="login()"> 
        Log In
      </button>
    </div>
  </div>

  <div class="user-logged-in row" *ngIf="isUserLoggedIn">
    <div class="form-group col-xs-12 col-sm-3">
      <h3> You are now logged in </h3>
      <button class="btn btn-default" (click)="logout()"> 
        Log Out
      </button>
    </div>
  </div>
</div>
