<div class="author-list-container">
  <div class="author-list-header col-xs-12">
    <h3> Authors </h3>
  </div>

  <div class="author-list-body">
    <div class="author-list-add-btn">
      <button class="btn btn-default" (click)="addRecord()"> 
        ADD
      </button>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="author-list-tile" *ngFor="let author of authors">
        <span class="author-list-tile-text">
          {{ author.name }}
        </span>
        <span class="author-list-tile-icon" (click)="addNewAuthor()">
          <i class="glyphicon glyphicon-play-circle"></i>
        </span>
      </div>
    </div>
  </div>
</div>