.authors-retreat-modal-content{
    margin: 0 auto;
    background-color: azure;
    border: 1px solid azure;
    border-radius: 4px;  
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;    
}
